<!-- <form action="{{ url_for("gfg")}}" method="post"> -->
<html lang="en">
  <head>
    <title>Flask</title>
    <link rel="stylesheet" href="../static/main.css" />
  </head>
  
  <body>

    <form action="/logout" class="lgbt">
        <button title="logout" type="submit" id="mybttn">Logout</button>
    </form>
    <div class="lgo">
      <img src="../static/logo.png" alt="logo" />
    </div>
    <h1>CAR Generator</h1>
    <form action="/success" method="post" enctype="multipart/form-data" class="mainbdr">
      <label for="salary">Enter Salary:</label>
      <input title="salary" type="number" name="csalary" />
      <br />
      <br />
      <label for="salary">Enter FilePath:</label>
      <input title="filepath" type="text" name="cfilepath" />

      <!-- <input id="fileselector" type="file" onchange="browseResult(event)" webkitdirectory directory multiple="false" style="display:none" />
<button onclick="getElementById('fileselector').click()">Browse</button> -->
      <!-- <input type="file" name="file"> -->
      <br />
      <br />
      <button type="submit">SUBMIT</button>
    </form>
  </body>
  <!-- <script>
    function browseResult(e){
  var fileselector = document.getElementById('fileselector');
  console.log(fileselector.value);
  
}
    </script> -->

    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
            $(function() {
            $('a#test').on('click', function(e) {
                e.preventDefault()
                $.getJSON('/Logout',
                    function(data) {
                //do nothing
                });
                return false;
            });
            });
    </script> -->
</html>
