<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../static/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="main">
      <div class="image">
        <img src="../static/logo.png" />
      </div>

      <div class="content">
        <h2>LOGIN</h2>

        {% if un %}

        <div style="color: red; font-size: medium; font-weight: 600; margin-bottom: 20px;">{{un}}</div>

        {% endif %}
        <form action="/" method="post">
          <div class="inputbox">
            <span>Email</span>
            <br />
            <input type="text" id="user" name="email" />
          </div>
          <br />
          <div class="inputbox">
            <span>Password</span>
            <br />
            <input type="password" id="pass" name="password" />
          </div>
          <br />
          <div class="inputbox">
            <input type="submit" value="Login" />
          </div>
          <br />
        </form>
      </div>
    </div>
  </body>
</html>
