<html>
   <head>
      <title>success</title>
      <link rel="stylesheet" href="../static/main.css">
   </head>
   <body>
      
    <center >
      <img src="../static/logo.png" alt="logo" >      
      </center>
      <br>
      <div id="abc">
      <center>      
      <p style="color:green; font-weight: bold; ">Excel generated successfully! Check folder</p>
      <p>File Name:{{fileN}}</p>
      <p>Folder Name: {{name}}</p>
      <p>Salary: {{sal}}</p>
      <div>
         <a href="https://anirbaanghatak.github.io/Erev/">Click here to Generate CAR PDF</a>
      </div>
   </center>
</div>
   </body>

</html>