body {
  font-family: roboto;
}
p {
  font-size: 25px;
}
h1 {
  font-size: 42px;
  text-align: center;
}
#abc {
  border: 3px solid black;
  padding-bottom: 45px;
  margin-left: 20%;
  margin-right: 20%;
}
a {
  font-size: 18px;
}
.mainbdr {
  border: 3px solid black;
  text-align: center;
  padding: 45px;
  margin-left: 20%;
  margin-right: 20%;
  font-weight: bold;
  font-size: x-large;
}
button {
  background-color: black;
  color: white;
  font-size: large;
  padding: 10px;
}
.lgo {
  display: flex;
  justify-content: center;
}

.lgbt{
    display: flex;
    justify-content: end;
}
