@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
  }
* a {
    text-decoration: none;
}
.main {
    width: 100%;
    position: relative;
    display: flex;
    height: 100vh;
  }
  
  .main .image {
    position: relative;
    width: 50%;
    height: 100%;
    background: #c21313e3;
  }
  
  .main .image img {
    margin-top: 35%;
    margin-left: 12%;
    width: 70%;
    height: 30%;
  }
  .content {
    box-shadow: 2px 2px 5px 20px #c21313e3;
  }
  .main .content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .main .content form {
    width: 50%;
  }
  .content h2 {
    color: #000000db;
    font-weight: 600;
    font-size: 1.6rem;
    margin-bottom: 20px;
    border-bottom: 4px solid #c21313e3;
    display: inline-block;
    letter-spacing: 1px;
  }
  
   .content span {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: bold;
    display: inline-block;
    color: #000000db;
  }
  .content input[type="password"]{
    border: 2px solid #c21313e3;  
    outline: none; 
    border-radius: 20px; 
    padding: 5px;
    width: 80%;
  }
  .content input[type="text"]{
    border: 2px solid #c21313e3;   
    border-radius: 20px; 
    outline: none;
    padding: 5px;
    width: 80%;
  }
  .content input[type="submit"] {
    background: #c21313e3;
    color: #fff;
    outline: none;
    border: none;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: medium;
    font-weight: 500;
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
  }


  .content input[type="submit"]:hover {
    background: #ac2222e3;
  }


  #cf{
    margin-top: 20px;
  }

  #mybttn{
    background: #c21313e3;
    color: #fff;
    outline: none;
    border: none;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: medium;
    font-weight: 500;
    cursor: pointer;
    border-radius: 20px;
  }

#forg{
  text-decoration: none;
  color: #c21313e3;
  align-self: end;
  margin-right: 25%;
}

.bn{
  /* display: inline; */
  text-align: left;
}